@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

    /* Grayscale */
    --color-grey-900: #0B0F19;
    --color-grey-800: #33354D;
    --color-grey-700: #565973;
    --color-grey-600: #9397AD;
    --color-grey-500: #B4B7C9;
    --color-grey-400: #D4D7E5;
    --color-grey-300: #E2E5F1;
    --color-grey-200: #EFF2FC;
    --color-grey-100: #F3F6FF;

    /* Brand */
    --color-primary: #6366F1;
    --color-gradiant: linear-gradient(to right, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
    
    /* System */
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;

    --color-white: #fff;

    /* Shadows */
    --shadow-s: 0px 4.4px 12px -1px rgba(19, 16, 23, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    --shadow-m: 0px 4.4px 20px -1px rgba(19, 16, 23, 0.05), 0px 4px 9px -1px rgba(19, 16, 34, 0.03);
    --shadow-l: 0px 4.8px 24.4px -6px rgba(19, 16, 23, 0.10), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
    --shadow-brand-btn: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    --shadow-secondary-btn: 0px 8px 18px -8px rgba(19, 16, 23, 0.15);
 
    /* Display headings */
    --display-1-size: 80px;
    --display-2-size: 72px;
    --display-3-size: 64px;
    --display-4-size: 56px;
    --display-5-size: 48px;
    --display-6-size: 42px;
    --display-font-weight: 800;

    /* Headings */
    --heading-h1-size: 40px;
    --heading-h2-size: 32px;
    --heading-h3-size: 28px;
    --heading-h4-size: 24px;
    --heading-h5-size: 20px;
    --heading-h6-size: 16px;
    --heading-font-weight: 800;

    /* Body text */
    --lead-font-size: 24px;
    --xl-font-size:20px;
    --l-font-size: 18px;
    --m-font-size: 16px;
    --s-font-size: 14px;
    --xs-font-size: 12px;

    /* Navigation text */
    --navigation-font-size: 16px;
    --navigation-font-weight: 600;

    /* Padding */
    --container-padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-grey-700);
}

a, a:hover {
    font-size: var(--navigation-font-size);
    font-weight: var(--navigation-font-weight);
}

a {
    color: var(--color-grey-800);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#logo {
    padding-top: 4px;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 14px;
    border-radius: 4px;
    gap: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: transparent;
    outline: 1px solid var(--color-primary);
    
}

.btn-mobile {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #3E4265;
}

/* DARK MODE TOGGLE BUTTON */

.btn-toggle-switch .label {
    display: none;
    font-weight: 600;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    box-shadow: var(--shadow-brand-btn);
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-600);
    transition: all 0.2s;
    border-radius: 35px;
}

.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
    border-radius: 50%;
}

/* --------------------------------------------- */

.navbar {
    display: none;
}

#user-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    font-size: var(--s-font-size);
    color: var(--color-grey-600);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TABLET */

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    header .container {
        gap: 5rem;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    footer .container {
        flex-direction: row;
        gap: 0.4rem;
    }
}


/* DESKTOP */


@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 5rem;
    }

    .navbar {
        display: block;
    }

    #user-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

}